# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local
db.sqlite3

# Coverage
.coverage
htmlcov/
coverage.xml

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log